.about{
    grid-row: 1/2;
    grid-column: 1/2;
    height: 100%;
    width: 100%;
    display: grid;
}
.aboutwrap{
    grid-row: 1/2;
    grid-column: 1/2;
    width: 63%;
    height: 329px;
    justify-self: center;
    align-self: center;
    display: grid;
}
.about_intro{
    color: #ef5777;
    font-size: 1rem;
}
.about_title{
    font-size: 3.75rem;
    font-family: 'BeVietnamBold'; 
}
.about_subtitle{
    font-size: 3.75rem;
    font-family: 'BeVietnamBold';
    margin-top: -20px;
}
.about_info{
    font-size: 1.5rem;
    margin-top: 11px;
}
.about_button{
    color: #ef5777;
    font-size: 1rem;
    margin-top: 30px;
    border: 2px solid #ef5777;
    border-radius: 4px;
    width: 150px;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 16px;
}
.about_button:hover{
    cursor: pointer;
    background-color: rgba(239, 87, 119, 0.1);
}
.aboutarrow{
    grid-row: 1/2;
    grid-column: 1/2;
    justify-self: end;
    align-self: end;
    margin-right: 20px;
    width: 40px;
}
.aboutarrow:hover{
    cursor: pointer;
}
.arrowlabel{
    writing-mode: vertical-rl;
    margin-bottom: 20px;
    font-size: .875rem;
}
.arrowimage{
    margin-left: 6px;
    margin-bottom: 40px;
    width: 2px;
    height: 120px;
    background-color: black;
    transition: .5s;
}
.arrowimage:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 8px;
    height: 8px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    transform: rotate(45deg) translatex(76px) translatey(81px);
    transition: .5s;
}
.container_dark .arrowimage{
    background-color: white;
}
.container_dark .arrowimage:after{
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}
.aboutarrow:hover .arrowimage{
    transform: translatey(10px);
    background-color: #ef5777;
}
.aboutarrow:hover .arrowimage:after {
    border-bottom: 2px solid #ef5777;
    border-right: 2px solid #ef5777;
}

@media all and (max-width: 768px) {
    .aboutwrap{
        width: 80%;
    }
    .about_intro{
        font-size: 1rem;
    }
    .about_title{
        font-size: 2.25rem;
    }
    .about_subtitle{
        font-size: 2rem;
        margin-top: 0px;
    }
    .about_info{
        font-size: 1.25rem;
    }
}

@media all and (max-width: 480px) {
    .about_title{
        font-size: 2rem;
    }
    .about_subtitle{
        font-size: 1.75rem;
    }
    .about_info{
        font-size: 1rem;
    }
}