.header{
    position: fixed;
    height: 120px;
    width: 99%;
    z-index: 1;
    display: grid;
    grid-template-columns: 27% 27% 46%;
    align-items: center;
}
.navlogo{
    font-family: 'oswald';
    font-size: 1.5rem;
    font-weight: 600;
    grid-row: 1/2;
    grid-column: 1/2;
    display: grid;
    justify-self: center;
    opacity: 1;
    transition: .5s;
}
#hidden{
    opacity: 0;
    transition: .5s;
}
.navwrap{
    grid-row: 1/2;
    grid-column: 3/4;
    display: grid;
    width: 100%;
    font-weight: 800;
    font-size: .8rem;
    justify-self: center;
    grid-auto-flow: column;
}
.nav{
    cursor: pointer;
    justify-self: center;
    transition: .5s;
}
.nav:active{
    transform: scale(1.1);
    transition: .5s;
}
.nav:hover{
    color: #ef5777;
    transition: .1s;
}
.nav.active {
    color: #ef5777;
}
.nav.activeone {
    color: #ef5777;
}
@media all and (min-width: 2500px) {
    .navwrap{
        font-size: 1.2rem;
    }
}
@media all and (max-width: 768px) {
    .header {
        height: 80px;
    }
    .navwrap{
        grid-column: 2/4;
    }
    .navlogo{
        font-size: 1rem;
    }
    .nav.activeone {
        color: #d2dae2;
    }
    .container_dark .nav.activeone {
        color: black;
    }
    .nav.about:hover{
        color: black;
    }
}
@media all and (max-width: 480px) {
    .header {
        height: 80px;
    }
    .navwrap{
        grid-column: 1/4;
    }
    .navlogo{
        display: none;
    }
    .nav:hover{
        color: black;
    }
    .nav.active {
        color: #ef5777;
    }
}