.sidebar,
.sidebar-open{
    height: 100vh;
    transition: .75s ease-in-out;
    position: fixed;
    background-color: #A6B6C5;
    z-index: 2;
    top: 0;
    bottom: 0;
    display: grid;
}
.container_dark .sidebar,
.container_dark .sidebar-open{
    background-color: #0A1720;
}
.sidebar{
    right: -200px;
}
.sidebar-open{
    right: 0px;
}
.sidenav-wrap{
    align-self: center;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50%;
    grid-row: 1/2;
    grid-column: 1/2;
}
.sidenav{
    cursor: pointer;
    text-transform: uppercase;
}
.sidenav:hover{
    color: #ef5777;
}
.menu-close{
    height: 80px;
    width: 80px;
    margin-right: 60px;
    display: grid;
    align-items: center;
    cursor: pointer;
    z-index: 3;
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: start;
    justify-self: end;
    transform: rotate(45deg);
}
.menu-close-line{
    background-color: black;
    height: 2px;
    grid-row: 1/2;
}
.container_dark .menu-close-line{
    background-color: white;
}
.menu-close:hover .menu-close-line{
    background-color: #ef5777;
}
@media all and (min-width: 769px) {
    .sidebar-open{
        display: none;
    }
}