.themetoggle{
    position: fixed;
    bottom: 2%;
    right: 2%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.themetoggle svg{
    width: 100%;
    height: 100%;
    padding: 12px;
}
.themetoggle:hover,
.themetoggle:active{
    color: #ef5777;
}
@media all and (max-width: 768px) {
    .themetoggle{
        right: 5%;
    }
}